<div class="well">
    <h2>Interpolação</h2>
    <p>olaFulano = </p>
    <p>olaFulano (uppercase) = </p>
    <p>50 + 100 = </p>
    <p>1000 + obterJuros() = </p>
</div>
    
<div class="well">
    <h2>Eventos</h2>
    <button class="btn btn-default">
        Diga oi
    </button>
    <br />
    <br />
    <input >
    <br />
    <br />
    <button class="btn btn-default" >
        Oi Fulano
    </button>
</div>
    
<div class="well">    
    <h2>Atribuições</h2>
    <button class="btn btn-default" >
    </button>
    
    <button class="btn btn-info" >
    </button>
</div>
    
<div class="well">
    <h2>'One way' e 'Two way' binding</h2>
    <span></span>
    <br />
    <input type="text" >
    <hr />

    <span></span>
    <br />
    <input type="text" >
    <hr />

    <span></span> 
    <br />
    <input type="text" >
</div>
    
<div class="well">
    <h2>CSS class</h2>
    <button class="btn" >
        Clique para mudar estilo
    </button>
    <hr />

    <span >
    </span>
    <hr />

    <button class="btn" >
    </button>
</div>
    
<div class="well">
    <h2>*ngIf</h2>
    <br />
    <h4 ></h4>
    <button class="btn btn-warning" >
        Exibir/esconder texto
    </button>
    <hr />

    <h4 >
        Exibindo enquanto contador for menor que 5, 
        valor atual do contador: 
    </h4>
    <h4 >
        Exibindo porque contador e maior ou igual a 5, 
        valor atual do contador: 
    </h4>
    <button class="btn btn-primary" >
        Incrementar
    </button>
</div>

<div class="well">    
    <h2>*ngFor</h2>
    <br />
    <ul>
        <li >
        </li>
    </ul>
    <hr />
    <ul>
        <li >
        </li>
    </ul>
</div>